<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_buttons_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{456,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,164}}</string>
                <key>sourceSize</key>
                <string>{456,164}</string>
            </dict>
            <key>building_buttons_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{98,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,112}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>building_buttons_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>building_buttons_icon_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{30,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{30,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>building_buttons_icon_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{74,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>building_buttons_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,37},{198,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,40}}</string>
                <key>sourceSize</key>
                <string>{198,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_view_ui.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f39f7e1122512224e1fbb83196e31bd2:1/1$</string>
            <key>textureFileName</key>
            <string>city_view_ui.png</string>
        </dict>
    </dict>
</plist>
