<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>build_Tavern.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1104},{338,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,207}}</string>
                <key>sourceSize</key>
                <string>{338,207}</string>
            </dict>
            <key>building_army_archer.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,781},{394,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,253}}</string>
                <key>sourceSize</key>
                <string>{394,253}</string>
            </dict>
            <key>building_army_knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1036},{349,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,273}}</string>
                <key>sourceSize</key>
                <string>{349,273}</string>
            </dict>
            <key>building_army_soldier.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,830},{361,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,272}}</string>
                <key>sourceSize</key>
                <string>{361,272}</string>
            </dict>
            <key>building_army_vehicle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,275},{433,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,274}}</string>
                <key>sourceSize</key>
                <string>{433,274}</string>
            </dict>
            <key>building_city_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{785,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{785,461}}</string>
                <key>sourceSize</key>
                <string>{785,461}</string>
            </dict>
            <key>building_college.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{412,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,227}}</string>
                <key>sourceSize</key>
                <string>{412,227}</string>
            </dict>
            <key>building_embassy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,551},{413,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,260}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>building_gate_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{394,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,359}}</string>
                <key>sourceSize</key>
                <string>{394,359}</string>
            </dict>
            <key>building_gate_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,465},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>building_gate_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,465},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>building_gate_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,465},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>building_gate_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,465},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>building_gate_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,465},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>building_gate_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,465},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>building_market.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,2},{707,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{707,420}}</string>
                <key>sourceSize</key>
                <string>{707,420}</string>
            </dict>
            <key>building_resource_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1556},{189,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,148}}</string>
                <key>sourceSize</key>
                <string>{189,148}</string>
            </dict>
            <key>building_resource_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,1706},{188,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,118}}</string>
                <key>sourceSize</key>
                <string>{188,118}</string>
            </dict>
            <key>building_resource_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,362},{188,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,113}}</string>
                <key>sourceSize</key>
                <string>{188,113}</string>
            </dict>
            <key>building_resource_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,771},{219,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,131}}</string>
                <key>sourceSize</key>
                <string>{219,131}</string>
            </dict>
            <key>building_warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,813},{412,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,293}}</string>
                <key>sourceSize</key>
                <string>{412,293}</string>
            </dict>
            <key>cd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1294},{108,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,196}}</string>
                <key>sourceSize</key>
                <string>{108,196}</string>
            </dict>
            <key>cd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,552},{134,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,217}}</string>
                <key>sourceSize</key>
                <string>{134,217}</string>
            </dict>
            <key>cd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1706},{106,196}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,196}}</string>
                <key>sourceSize</key>
                <string>{108,196}</string>
            </dict>
            <key>cl_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1706},{104,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,197}}</string>
                <key>sourceSize</key>
                <string>{104,197}</string>
            </dict>
            <key>cq_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1108},{98,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,165}}</string>
                <key>sourceSize</key>
                <string>{98,165}</string>
            </dict>
            <key>cq_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1797},{176,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,205}}</string>
                <key>sourceSize</key>
                <string>{176,205}</string>
            </dict>
            <key>cq_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1707},{98,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,198}}</string>
                <key>sourceSize</key>
                <string>{98,198}</string>
            </dict>
            <key>cq_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1712},{98,204}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,204}}</string>
                <key>sourceSize</key>
                <string>{98,208}</string>
            </dict>
            <key>cq_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1184},{48,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,176}}</string>
                <key>sourceSize</key>
                <string>{48,176}</string>
            </dict>
            <key>cq_cl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,781},{223,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,220}}</string>
                <key>sourceSize</key>
                <string>{223,220}</string>
            </dict>
            <key>dragonBattleEnter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1505},{232,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,172}}</string>
                <key>sourceSize</key>
                <string>{232,172}</string>
            </dict>
            <key>drum_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,771},{97,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,71}}</string>
                <key>sourceSize</key>
                <string>{97,71}</string>
            </dict>
            <key>fence_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1360},{172,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,160}}</string>
                <key>sourceSize</key>
                <string>{172,160}</string>
            </dict>
            <key>fence_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,1556},{108,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,160}}</string>
                <key>sourceSize</key>
                <string>{108,160}</string>
            </dict>
            <key>house_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1360},{194,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,105}}</string>
                <key>sourceSize</key>
                <string>{194,105}</string>
            </dict>
            <key>pic407000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1313},{265,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,173}}</string>
                <key>sourceSize</key>
                <string>{265,173}</string>
            </dict>
            <key>pic409000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1678},{150,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,127}}</string>
                <key>sourceSize</key>
                <string>{150,127}</string>
            </dict>
            <key>pic416000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1809},{218,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,163}}</string>
                <key>sourceSize</key>
                <string>{218,163}</string>
            </dict>
            <key>pic418000_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,2},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic418000_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,2},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic418000_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,2},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic418000_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,2},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic418000_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,2},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic429000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{280,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,209}}</string>
                <key>sourceSize</key>
                <string>{280,209}</string>
            </dict>
            <key>pic_ziyuan_men.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1904},{124,148}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,148}}</string>
                <key>sourceSize</key>
                <string>{128,148}</string>
            </dict>
            <key>sanjichengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1244},{103,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,171}}</string>
                <key>sourceSize</key>
                <string>{103,171}</string>
            </dict>
            <key>sanjichengqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1918},{125,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,147}}</string>
                <key>sourceSize</key>
                <string>{125,147}</string>
            </dict>
            <key>sanjichengqiang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,606},{75,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,163}}</string>
                <key>sourceSize</key>
                <string>{75,163}</string>
            </dict>
            <key>sanjijiantachengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1896},{108,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,174}}</string>
                <key>sourceSize</key>
                <string>{108,174}</string>
            </dict>
            <key>sijichengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1679},{128,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,232}}</string>
                <key>sourceSize</key>
                <string>{128,232}</string>
            </dict>
            <key>sijichengqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1893},{97,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,167}}</string>
                <key>sourceSize</key>
                <string>{97,167}</string>
            </dict>
            <key>sijichengqiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1712},{83,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,162}}</string>
                <key>sourceSize</key>
                <string>{83,162}</string>
            </dict>
            <key>sijichengqiang6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,198},{83,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,162}}</string>
                <key>sourceSize</key>
                <string>{83,162}</string>
            </dict>
            <key>sijijiantaduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,992},{130,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,188}}</string>
                <key>sourceSize</key>
                <string>{130,188}</string>
            </dict>
            <key>wall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1556},{149,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,174}}</string>
                <key>sourceSize</key>
                <string>{149,174}</string>
            </dict>
            <key>wall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,870},{63,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,124}}</string>
                <key>sourceSize</key>
                <string>{63,124}</string>
            </dict>
            <key>wall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,1036},{63,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,146}}</string>
                <key>sourceSize</key>
                <string>{63,146}</string>
            </dict>
            <key>wall_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1907},{157,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,130}}</string>
                <key>sourceSize</key>
                <string>{157,130}</string>
            </dict>
            <key>wall_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,424},{79,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,180}}</string>
                <key>sourceSize</key>
                <string>{79,180}</string>
            </dict>
            <key>wall_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1807},{213,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,170}}</string>
                <key>sourceSize</key>
                <string>{213,170}</string>
            </dict>
            <key>wall_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,2},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>wall_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1488},{222,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,263}}</string>
                <key>sourceSize</key>
                <string>{222,263}</string>
            </dict>
            <key>wall_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1311},{314,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,243}}</string>
                <key>sourceSize</key>
                <string>{314,243}</string>
            </dict>
            <key>wall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1003},{288,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,239}}</string>
                <key>sourceSize</key>
                <string>{288,239}</string>
            </dict>
            <key>wall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1055},{390,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,237}}</string>
                <key>sourceSize</key>
                <string>{390,237}</string>
            </dict>
            <key>wall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,424},{624,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,355}}</string>
                <key>sourceSize</key>
                <string>{624,355}</string>
            </dict>
            <key>wall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{451,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,271}}</string>
                <key>sourceSize</key>
                <string>{451,271}</string>
            </dict>
            <key>wall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1666},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wall_notice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1244},{182,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>wall_notice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,830},{27,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>wujichengduo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1809},{127,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,222}}</string>
                <key>sourceSize</key>
                <string>{127,222}</string>
            </dict>
            <key>wujichengqiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1556},{148,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,187}}</string>
                <key>sourceSize</key>
                <string>{148,187}</string>
            </dict>
            <key>wujichengqiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1492},{108,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,184}}</string>
                <key>sourceSize</key>
                <string>{108,184}</string>
            </dict>
            <key>wujichengqiang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1706},{107,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,185}}</string>
                <key>sourceSize</key>
                <string>{107,185}</string>
            </dict>
            <key>wujijiataduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1362},{129,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,189}}</string>
                <key>sourceSize</key>
                <string>{129,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_view_building.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:959fc001b8d03dd0ec3c0091ff7e59ec:1/1$</string>
            <key>textureFileName</key>
            <string>city_view_building.png</string>
        </dict>
    </dict>
</plist>
