<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>building_buttons_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{456,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,164}}</string>
                <key>sourceSize</key>
                <string>{456,164}</string>
            </dict>
            <key>building_buttons_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,169},{98,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,112}}</string>
                <key>sourceSize</key>
                <string>{104,118}</string>
            </dict>
            <key>building_buttons_icon_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,481},{30,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{30,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>building_buttons_icon_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,169},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{74,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>building_buttons_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,304},{198,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,40}}</string>
                <key>sourceSize</key>
                <string>{198,40}</string>
            </dict>
            <key>building_float_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,169},{122,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{122,131}}</string>
                <key>sourceSize</key>
                <string>{128,133}</string>
            </dict>
            <key>building_progressbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,304},{173,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{173,25}}</string>
                <key>sourceSize</key>
                <string>{179,37}</string>
            </dict>
            <key>building_progressbar_fill1.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{139,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,10},{139,17}}</string>
                <key>sourceSize</key>
                <string>{179,37}</string>
            </dict>
            <key>building_progressbar_fill2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1},{114,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,8},{114,17}}</string>
                <key>sourceSize</key>
                <string>{204,35}</string>
            </dict>
            <key>building_progressbar_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,169},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f2d8a8991a178d14ef135916170ece1:1/1$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
